html {
  position: inherit;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(0deg, #dc9edc 0%, #8ed8e0 100%);
}
h1 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 4px;
  font-size: 500%;
  text-align: center;
  -webkit-text-stroke: 1px black;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.textinho {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 180%;
  color: black;
  padding: 2% 8%;
}
.telaprincipal {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 180%;
  color: black;
  padding: 2% 8%;
}
.quadrado2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 150%;
  color: black;
  align-items: center;

}
.tabelinhaimc {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 170%;
  color: black;
}
.barra {
  display: flex;
  flex-direction: center;
}
a, .a{
  font-family: monospace;
  border: 1px solid #333333;
  color: white;
  padding: 20px 20px;
  text-align: center;
  display: inline-grid;
  font-size: 170%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  background-color: #ffc2ff;
  background-image: linear-gradient(315deg, #ffc2ff 0%, #a5eaf9 50%, #ffffff 100%);
  border-radius: 18px;
  width: 150px;
}
.b {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 155%;
  color: black;
  padding: 10px 10px;
}
.submit {
  font-family: monospace;
  border: 1px solid #333333;
  color: white;
  padding: 20px 19px;
  text-align: center;
  display: inline-grid;
  font-size: 170%;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  background-color: #ffc2ff;
  background-image: linear-gradient(315deg, #ffc2ff 0%, #a5eaf9 50%, #ffffff 100%);
  border-radius: 18px;
  }
input {
  font-size: 20px;
  resize: vertical;
  margin: 4px 2px;
  text-align: left;
  border: 1px solid black;
  }
